@model IndexViewModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Short links</h1>

<table class="table">
    <thead>
        <tr>
            <th>Long URL</th>
            <th>Short URL</th>
            <th>Click Count</th>
            <th>Creation Time</th>
            <th></th> <!-- Column for the delete button -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShortUrls)
        {
            <tr>
                <td><a href="@item.LongUrl">@item.LongUrl</a></td>
                <td><a href="@item.ShortUrl"> @item.ShortUrl</a></td>
                <td>@item.ClickCount</td>
                <td>@item.CreationTime</td>
                <td>
                    <!-- Form for the delete button -->
                    <form asp-action="DeleteShortUrl" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.ShortUrls.Count() == 0)
{
    <div class="no-urls-message">
        There are no short links yet.
        <a href="create-short-link">Create one</a>
    </div>
}
